


$dark_text_c:#fff;
$dark_primary_c:hsl(209, 23%, 22%); // Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
$dark_second_c: hsl(207, 26%, 17%);// Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
$light_text_c:hsl(200, 15%, 8%) ; //Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
$light_primary_c: #fff  ; // Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
$light_second_c: #fafafa; //Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
:root {
  --color-el: #{$light_primary_c};
  --color-bg: #{$light_second_c};
  --color-text: #{$light_text_c};
}

.dark {
  --color-el: #{$dark_primary_c};
  --color-bg: #{$dark_second_c};
  --color-text: #{$dark_text_c};
}
